<div class="row">
	
	<%= render 'layouts/header' %>
	
	<%= render 'layouts/slider' %>
	
<div class="span12 maintext">
	<h3>О компании</h3>
		<p>История становления нашего предприятия неразрывно связана с историей и становлением научно-производственного потенциала России в начале 90-х. Небольшая хозрасчетная научно-исследовательская лаборатория кафедры «Автоматика и телемеханика на железных дорогах» Ленинградского Института инженеров железнодорожного транспорта вела неравную борьбу за выживание на оскудевшем железнодорожном рынке. Тематика научных исследований была направлена на создания новых, современных систем железнодорожной автоматики. Но вряд ли кто-нибудь всерьез задумывался о далеких перспективах в то время. Нужно было выстоять. И выстояли. На базе лаборатории родилось Малое Государственное Предприятие «ИМСАТ». Аббревиатура названия раскрывает суть основного направления исследований: имитационное моделирование систем автоматики и телемеханики. Создание подобных имитационных моделей позволяет повысить качество разработок и резко сократить их сроки. Постепенно тематика работы предприятия расширялась. В отдельные направления выделились САПР и АПК-ДК (системы диспетчерского контроля в то время еще не получили должного развития на сети железных дорог). В связи с жизненной необходимостью перехода на обслуживание устройств по состоянию,  система АПК-ДК оказалась весьма востребованной. </p>
		<p>С тех пор предприятие неустанно работает над развитием и совершенствованием АПК-ДК, стремясь удовлетворить всё растущие требования эксплуатационников. И сегодня Вы вряд ли найдёте хоть одну дорогу в России, где не внедряли бы или хотя бы не слышали о системе диспетчерского контроля АПК-ДК, позволяющей в реальном масштабе времени контролировать работу устройств и систем автоматики,  выявлять их предотказное состояние. А ведь с момента официального признания системы на Тульском отделении Московской железной дороги прошло не так много времени (1999 год).</p> 
			<p>Сегодня наша компания работает над более тесной интеграцией с системами МПЦ и ДЦ, ставя основной целью наращивание функциональных возможностей современных систем автоматики и телемеханики.
		</p>
</div>


	
	
	<%= render 'layouts/footer' %></div>
