<div class="row">
	<%= render 'layouts/header' %>

	
	<div class="span12">
	<div id="slider" class="slider">
		<%= image_tag("contact-1.jpg") %>
	</div>
	</div>

	<div class="span12 contact-title"><h3>Контакты</h3></div>
	
<div class="span4 leftcontact">
	<div class="lcinner">

		<p>ЗАО «МГП «ИМСАТ»</p>
		<p><a href="http://goo.gl/maps/JbqUd" style="color: #3d82cc">198035, Санкт-Петербург</p>
		<p>наб. реки Фонтанки, д.170</a></p>
		<p>тел./факс (812) 575-42-82</p>
		<p>тел (812) 612-42-82</p>
		<%= mail_to "info@realsys.ru" %>

		
	</div>
</div>
<div class="span8 map">
	<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=ZFco9a2MamX-BCouftgZah9329UE86R1&width=620&height=400"></script>
</div>


	<%= render 'layouts/footer' %>
	

</div>
