<div class="row">
	
	<%= render 'layouts/header' %>
	
	<%= render 'layouts/slider' %>
	
<div class="span4 lefttext"></br><p>Сегодня наша компания работает над более тесной интеграцией с системами МПЦ и ДЦ, ставя основной целью наращивание функциональных возможностей современных систем автоматики и телемеханики</p></div>
<div class="span8 maintext">
	<h3>Продукция</h3>
		<% Product.all.each do |product| %>
			<p><%= link_to product.name, product %></p>
		<% end %>
</div>

<div class="span12 categories">
	<div class ="row">	
		<div class="span4 blue">
			<div class="centerheader">Каталог продукции</div>
			<div class="centerlinkbl"><a href="/IMSAT_katalog_2012.pdf">Перейти в раздел</a></div>
		</div>
		<div class="span4 green">
			<div class="centerheader">Специализированные индикаторы</div>
			<div class="centerlinkgr"><a href="/products/6">Перейти в раздел</a></div>
		</div>
		<div class="span4 orange">
			<div class="centerheader">Система АПК-ДК</div>
			<div class="centerlinkor"><a href="/solutions/1">Перейти в раздел</a></div>
		</div>
	</div>
</div>
	
	
	
	<%= render 'layouts/footer' %></div>
