<div class="row">
	<div id="span12 header">
<div class="span2"><%= image_tag("logo.png") %></div>
<div class="span2">О компании</div>
<div class="span2">Решения</div>
<div class="span2">Продукция</div>
<div class="span2">Поддрежка</div>
<div class="span2">Контакты</div>
	</div>
	<div class="span12 slaider">Слайдер</div>
<div class="span3 lefttext"><p>Сегодня наша компания работаетнад более тесной интеграциейс системами МПЦ и ДЦ, ставя основной целью наращивание функциональных возможностей современных систем автоматикии телемеханики</p></div>
<div class="span9 maintext"><p>Сегодня наша компания работаетнад более тесной интеграциейс системами МПЦ и ДЦ, ставя основной целью наращивание функциональных возможностей современных систем автоматикии телемеханики</p><p>Сегодня наша компания работаетнад более тесной интеграциейс системами МПЦ и ДЦ, ставя основной целью наращивание функциональных возможностей современных систем автоматикии телемеханики</p><p>Сегодня наша компания работаетнад более тесной интеграциейс системами МПЦ и ДЦ, ставя основной целью наращивание функциональных возможностей современных систем автоматикии телемеханики</p></div>

<div class="span12 categories">
	<div class ="row">	
		<div class="span4 blue">Каталог продукции</div>
		<div class="span4 green">Каталог продукции</div>
		<div class="span4 orange">Каталог продукции</div>
	</div>
</div>
	
	
	
	<div class="span12 footer">	
		<div class="row">
<div class="span2">Copyright</div>
<div class="span2">О компании</div>
<div class="span2">Продукция</div>
<div class="span2">Контакты</div>
<div class="span4">Поиск</div>
		</div>
	<div>
</div>
