<div class="row">
	
	<%= render 'layouts/header' %>
	
	<%= render 'layouts/slider' %>
	
<div class="span12 maintext">
	<h3>Поддержка</h3>
	<p>Процесс перевода средств железнодорожной автоматики на новую элементную базу затронул не только тех, кто обеспечивает разработку, проектирование и ввод в эксплуатацию новых систем, но и тех, кто обеспечивает их техническое обслуживание.</p>
	<p>Для технического обслуживания системы АПК-ДК в 2006 году в ЗАО «МГП «ИМСАТ» был создан центр сервисного обслуживания. Создание сервисного центра позволило заложить основу для качественного функционирования системы АПК-ДК. Также, создание центра позволило построить комплексную системно-структурированную вертикаль, которая гармонично объединила все подразделения в компании, участвующие в обеспечении жизненного цикла системы. Взаимодействие подразделений выстроено на принципах системы менеджмента качества, которая, в свою очередь, позволяет обеспечить надежную работу технических и программных средств.</p>
	<p>Приоритетным направлением в работе центра сервисного обслуживания является полное удовлетворение ожиданий и требований клиента по качеству и надежности.</p>
	<p>
		<h3>Основными задачами центра сервисного обслуживания являются:</h3></p>

	<ul>
		<li>
			Обеспечение бесперебойной работы&nbsp; системы диспетчерского контроля .</li>
		<li>
			Подтверждение соответствия компонентов системы установленным требованиям.</li>
		<li>
			Анализ работы АПК-ДК, на основании которого проводится разработка мер по предупреждению отказов и по расширению функциональных возможностей.</li>
		<li>
			Поддержание постоянной связи с заказчиком, для того, чтобы быстро и эффективно реагировать на его запросы, выявлять и устранять &laquo;узкие места&raquo;, возникающие в процессе эксплуатации.</li>
	</ul>
</br>
	<p>
		<h3>При проведении сервисного обслуживания выполняются работы:</h3></p>
	<ul>
		<li>
			Сопровождение программного обеспечения.</li>
		<li>
			Проведение измерительных и диагностических работ.</li>
		<li>
			Участие в расследовании сложных нарушений в работе технических средств.</li>
		<li>
			Корректировка установленным порядком программного обеспечения при изменении технологии работы объекта.</li>
		<li>
			Обучение эксплуатационного персонала дистанций.</li>
	</ul>



</div>


	
	
	<%= render 'layouts/footer' %></div>
