<div class="row">
	
	<%= render 'layouts/header' %>
	
	<%= render 'layouts/slider' %>
	
<div class="span4 lefttext"></br><p>Сегодня наша компания работает над более тесной интеграцией с системами МПЦ и ДЦ, ставя основной целью наращивание функциональных возможностей современных систем автоматики и телемеханики</p></div>
<div class="span8 maintext">
	<h3>Поддержка</h3>
		<p>Раздел находится в разработке</p>
</div>


	
	
	<%= render 'layouts/footer' %></div>
