/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 */

@font-face {
    font-family: 'PFDinDisplayPro';
    src: asset-url('PFDinDisplayPro-Reg.ttf', font) format('truetype');
    font-weight: normal;
    font-style: normal;
}



.body {
	font-family: PFDinDisplayPro;
	
}

.header {
	padding-top: 10px;
}

.top {
	padding-top: 20px;
	
}

.left {
	padding-left: 10px;
}

.toplink {
	color: black;
	text-decoration: none;
	display: table-cell;
	width: 133px;
	height: 52px;
	font-size: 14pt;
	text-align: center;
	vertical-align:middle;

}

.toplink:hover {
	color: white;
	background: url(hover.png) 0% 50% no-repeat;
}





.slaider {
	background: url(slaider.png) no-repeat;
	height: 339px;
}


.blue {
	background: url(blue.png) no-repeat;
	height: 140px;
}

.green {
	background: url(green.png) no-repeat;
	height: 140px;
}

.orange {
	background: url(orange.png) no-repeat;
	height: 140px;
}

.footer {
	margin-top: 70px;
	border-top: solid 2px grey;
}