<div class="span12">
<div id="slider" class="slider">
	<ul>
		<% Slide.all.each do |slide| %>
		<li>
			<%= image_tag(slide.logo, :size => "940x339") %>
			
			<div class="s-text">
				<span class="st-title"><%= slide.title %></span>
				<p><%= slide.note %></p>
				<a href="<%= slide.link %>">далее...</a>
			</div>
		</li>
		<% end %>
	</ul>
		
	<div id="paging" class="slider-paging"></div>
</div>
</div>