<%= stylesheet_link_tag    "slider", :media => "all" %>
<div class="span12">
<div id="slider" class="slider">
	<ul>
		<li>
			<img src="img/picture/image-1.jpg" width="940" height="339" alt="image-1">
			<div class="s-text">
				<span class="st-title">ТРАНСЖАТ-2012</span>
				<p>Имсат покажет новое поколение анализаторов параметров электрической сети</p>
				<a href="#">Читать подробнее</a>
			</div>
		</li>
			
		<li>
			<img src="img/picture/image-2.jpg" width="940" height="339" alt="image-2">
			<div class="s-text">
				<span class="st-title">ТРАНСЖАТ-2012</span>
				<p>Имсат покажет новое поколение анализаторов параметров электрической сети</p>
				<a href="#">Читать подробнее</a>
			</div>
		</li>
			
		<li>
			<img src="img/picture/image-3.jpg" width="940" height="339" alt="image-3">
			<div class="s-text">
				<span class="st-title">ТРАНСЖАТ-2012</span>
				<p>Имсат покажет новое поколение анализаторов параметров электрической сети</p>
				<a href="#">Читать подробнее</a>
			</div>
		</li>
	</ul>
		
	<div id="paging" class="slider-paging"></div>
</div>
</div>